<div class="footer">
  <div class="about">
    <div>
      <h4>Shop</h4>
      <li>Gift cards</li>
      <li>Etsy blog</li>
    </div>
    <div>
      <h4>Sell</h4>
      <li>Sell on Matsy</li>
      <li>Teams</li>
      <li>Forums</li>
    </div>
    <div>
      <h4>About</h4>
      <li>Matsy, Inc.</li>
      <li>Policies</li>
      <li>Investors</li>
      <li>Careers</li>
      <li>Press</li>
      <li>Impact</li>
    </div>
    <div>
      <h4>Follow Matsy</h4>
      <li>Facebook</li>
      <li>Instagram</li>
      <li>Pinterest</li>
      <li>Twitter</li>
    </div>
  </div>
  <div class="legal">
    <h2>Matsy</h2>
  </div>
</div>
