nav{
  width:100%;
  background-color:white;
}

.upper-nav{
  display:flex;
  justify-content:space-between;
  padding: 15px 30px;
  div{
    display:flex;
  }
}

.lower-nav{
  display:flex;
  justify-content:space-around;
}

li{
  list-style: none;
}

.underline-orange{
  border-bottom:2px solid orange;
}

.no-subs:hover{
  border-bottom:2px solid orange;
}
