<nav>
  <div class="upper-nav">
    <div>
      <h2 id="logo" routerLink=''>Matsy</h2>
      <div class="search">
        <input type="text" placeholder="Search for items or shops">
        <button type="button">Search</button>
      </div>
    </div>
    <div class="nav-links">
      <li>Sell on Matsy</li>
      <li>Discover</li>
      <li>Notifications</li>
      <li>You</li>
      <li>Cart</li>
    </div>
  </div>
  <div class="drop-area" (mouseleave)='changeDrop(null)'>
    <ul class="lower-nav">
      <li [class]='selectUnderline(category)' *ngFor='let category of categories' (mouseenter)='changeDrop(category)' routerLink='page/{{category.mainName}}'>{{category.mainName}}</li>
      <li class="no-subs" (mouseenter)='changeDrop(null)' routerLink='page/Vintage'>Vintage</li>
      <li class="no-subs" (mouseenter)='changeDrop(null)'>Gifts 🎁</li>
    </ul>
    <app-navdrop *ngIf='selectedDrop' [catName]='selectedDrop'></app-navdrop>
  </div>
</nav>
