.drop-nav{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
}

.mid-drop{
  display:grid;
  grid-template-columns:1fr 1fr;
}

li{
  padding:7px;
}

.highlight{
  background-color:#FBEAD8;
}
