/* You can add global styles to this file, and also import other style files */
body{
  text-align:center;
}

li{
  list-style: none;
}

.page-wrapper{
position:absolute;
top:160px;
z-index:-1;
width:100%;
}
