/* You can add global styles to this file, and also import other style files */
@mixin mediaMax($max){
  @media screen and (max-width:$max){
    @content;
  }
}


body{
  text-align:center;
}

li{
  list-style: none;
}

.page-wrapper{
position:absolute;
top:160px;
z-index:-1;
width:100%;
}

.see-more{
  font-size:1rem;
}

.flex{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrap{
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
}
.collection{
  width:45vw;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  img{
    width:50%;
    -ms-flex-item-align:center;
        align-self:center;
  }
}
