<h1>If it’s handcrafted, vintage, custom, or unique, it’s on Etsy.</h1>
<div class="banner">
  <div class="left-pannel">
    <div class="yellow-text">
      <h2>Fantastic wedding ideas for your nearest and dearest.</h2>
      <p>Shop Now ></p>
    </div>
    <img src="assets/broche.jpg" alt="broche">
  </div>
  <div class="explore">
    <h3>Home goals: browse our 2019 trend guide.</h3>
    <p>Explore decor</p>
  </div>
  <div class="yellow-text">
    <p>Get it quick with ready to ship finds ></p>
  </div>
</div>
<div class="checks-row">
  <div>
    <h4>Unique everything</h4>
    <p>We have millions of one-of-a-kind items, so you can find whatever you need (or really, really want).</p>
  </div>
  <div>
    <h4>Independent sellers</h4>
    <p>Buy directly from someone who put their heart and soul into making something special.</p>
  </div>
  <div>
    <h4>Secure shopping</h4>
    <p>We use best-in-class technology to protect your transactions.</p>
  </div>
</div>
<h2>Popular right now</h2>
<app-product-row></app-product-row>
<h2>Browse our latest collections <span class="see-more">See more</span>
 </h2>
<div class="flex">
  <div class="collection">
    <img src="assets/eggs.jpg" alt="">
    <div>
      <h4>Editor's pick</h4>
      <p>Design ideas and inspiration</p>
    </div>
  </div>
  <div class="collection">
    <img src="assets/clip.jpg" alt="">
    <div>
      <h4>Editor's pick</h4>
      <p>Jewlery, handbags, and accesories</p>
    </div>
  </div>
</div>
<h2>Shop for gifts <span class="see-more">See more</span></h2>

<div class="what-is-etsy">
  <h3>What is Etsy?</h3>
  <p>Read our wonderfully weird story</p>
  <h3>A one-of-a-kind community</h3>
  <p>Etsy is a global online marketplace, where people come together to make, sell, buy, and collect unique items.</p><br>

  <h3>Support independent creators</h3>
  <p>There’s no Etsy warehouse – just millions of people selling the things they love. We make the whole process easy, helping you connect directly with makers to find something extraordinary.</p><br>

  <h3>Peace of mind</h3>
  <p>Your privacy is the highest priority of our dedicated team. And if you ever need assistance, we are always ready to step in for support.</p><br>

  <p>Have a question? Well, we’ve got some answers.</p><br>
  <a class="sp-Button" href="#">Go to Help Center</a>
</div>
<div class="reviews">
  
</div>
