.banner{
  display:grid;
  grid-template-columns: 70vw 20vw;
  grid-template-rows: 60% 25%;
  grid-gap:2.5vw;
  height:320px;
}

.left-pannel{
  width:100%;
  grid-area: 1 / 1 / 3 / 2;
  display:grid;
  grid-template-columns: 1fr 3fr;
  img{
    height:100%;
    width:100%;
  }
}

.yellow-text{
  background-color: #FDD95C;
  padding:18px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.explore{
  background-image: url('../../assets/mirror.jpg');
  background-size:cover;
  background-position:center center;
}

.checks-row{
  display:flex;
}
