<h1>If it’s handcrafted, vintage, custom, or unique, it’s on Etsy.</h1>
<div class="banner">
  <div class="left-pannel">
    <div class="yellow-text">
      <h2>Fantastic wedding ideas for your nearest and dearest.</h2>
      <p>Shop Now ></p>
    </div>
    <img src="assets/broche.jpg" alt="broche">
  </div>
  <div class="explore">
    <h3>Home goals: browse our 2019 trend guide.</h3>
    <p>Explore decor</p>
  </div>
  <div class="yellow-text">
    <p>Get it quick with ready to ship finds ></p>
  </div>
</div>
