.banner{
  display:grid;
  grid-template-columns: 70vw 20vw;
  grid-template-rows: 1fr 1fr;
  grid-gap:2.5vw;
}

.left-pannel{
  grid-area: 1 / 1 / 3 / 2;
  display:grid;
  grid-template-columns: 1fr 3fr;
  img{
    width:100%;
  }
}

.yellow-text{
  background-color: #FDD95C;
  padding:18px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}
